<div class="container-sm login">
    <h1 class="logo-sistema">eStatus</h1>
    <form #f="ngForm" autocomplete="off">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-fluid">
                <label>E-mail</label>
                <input id="float-input" type="text" size="30" name="email" placeholder="E-mail" ngModel required #email pInputText>
            </div>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-fluid">
                <label>Senha</label>
                <div class="ui-inputgroup">
                    <input type="password" pInputText name="senha" placeholder="Senha" ngModel required #senha>
                    <span class="ui-inputgroup-addon"><i class="pi pi-eye"></i></span>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-6 esqueci-senha"><a routerLink="/" (click)="showModalEsqueciSenha()">Esqueci a senha</a></div>
            <div class="ui-g-6 ui-fluid"><button pButton type="submit" label="Login" 
                (click)="login(email.value, senha.value); senha.value = '';"></button>
            </div>
        </div>
        <div class="texto-criar-conta">
            Ainda não tem uma conta? <a routerLink="/usuario/cadastrar">Crie agora</a>
        </div>
    </form>
</div>