<div class="container-sm login">
    <h1 class="logo-sistema">eStatus</h1>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-fluid">
            <label>Usuário</label>
            <input id="float-input" type="text" size="30" placeholder="Usuário" pInputText>
        </div>
    </div>
    <div class="ui-g ui-fluid">
        <div class="ui-g-12 ui-fluid">
            <label>Senha</label>
            <div class="ui-inputgroup">
                <input type="text" pInputText placeholder="Senha">
                <span class="ui-inputgroup-addon"><i class="pi pi-eye"></i></span>
            </div>
        </div>
    </div>
    <div class="ui-g">
        <div class="ui-g-6 esqueci-senha"><a routerLink="/">Esqueci a senha</a></div>
        <div class="ui-g-6 ui-fluid"><button pButton type="button" label="Login"></button>
        </div>
    </div>
    <div class="texto-criar-conta">
        Ainda não tem uma conta? <a>Crie agora</a>
    </div>
</div>