.topbar {
    background-color: black;
    width: 100%;
    top: 0;
    height: 46px;
    position: fixed;
    padding: 6px;
}

.nome-sistema {
    font-size: 24px;
    font-weight: 600;
    padding-left: 44px;
    padding-right: 50px;
    color: white;
}

.button-menu {
    float: right;
}

.content {
    margin-top: 46px;
}