/* You can add global styles to this file, and also import other style files */
@import "~primeng/resources/themes/nova-light/theme.css";
@import "~primeng/resources/primeng.min.css";
@import "~primeicons/primeicons.css";

.container-sm {
    width: 400px;
    margin: 0 auto;
}

.container-md {
    width: 800px;
    margin: 0 auto;
}
  
.container-gt {
    width: 1000px;
    margin: 0 auto;
    padding: 30px;
}

body {
    margin: 0;
}

label {
    font-weight: 600;
    color: #1C1C1C;
}