.logo-sistema {
    text-align: center;
    color: #1C1C1C;
}

.login {
    margin-top: 30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.texto-criar-conta {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}