<div class="container-sm login">
    <h1 class="logo-sistema"><a routerLink="/">eStatus</a></h1>
    <h4 class="logo-sistema">Preencha os campos abaixo para iniciar agora</h4>
    <form #f="ngForm" autocomplete="off">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-fluid">
                <label>Seu nome</label>
                <input type="text" [(ngModel)]="usuario.nome" size="50" name="nome" placeholder="Seu nome" required pInputText>
            </div>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-fluid">
                <label>Seu e-mail</label>
                <input type="email" [(ngModel)]="usuario.email" size="50" name="email" placeholder="Seu e-mail" required pInputText>
            </div>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-8 ui-fluid">
                <label>OAB</label>
                <input type="number" size="50" name="oab" [(ngModel)]="oab" placeholder="Inscrição da OAB" required pInputText>
            </div>
            <div class="ui-g-4 ui-fluid">
                <label>UF</label>
                <input type="text" size="50" name="ufOab" [(ngModel)]="ufOab" placeholder="UF" required pInputText>
            </div>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-12 ui-fluid">
                <label>Senha</label>
                <div class="ui-inputgroup">
                    <input [type]="mostraSenha ? 'text' : 'password' " pInputText name="senha" placeholder="Senha" required [(ngModel)]="usuario.password">
                    <button pButton type="button"  (click)="mostraSenha = !mostraSenha" icon="pi pi-eye"></button>
                </div>
            </div>
        </div>
        <div class="ui-g">
            <div class="ui-g-12 ui-fluid"><button pButton type="submit" [label]="loading ? 'Cadastrando ...' : 'Cadastre-se'" (click)="cadastrar()" [disabled]="f.invalid || loading"></button>
            </div>
        </div>
    </form>
</div>